body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: rgb(5 10 17);
    color: white;
    font-family: Calibri;
}

input {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid gray;
    padding: 4px 8px;
}
