body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: rgb(22, 6, 6);
    color: white;
}

input {
    background-color: black;
    color: white;
    border: 1px solid gray;
    padding: 4px 8px;
}
