name: CI

on:
    push:
        branches:
            - 'main'
    pull_request:
        branches:
            - '**'

permissions:
    contents: write
    pages: write
    id-token: write

jobs:
    build_and_test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [23.5.0]
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}

            - name: Install dependencies
              run: npm ci

            - name: Unit tests
              run: npm run test:ci

            - name: Create build
              run: npm run build

            - name: Cypress tests
              uses: cypress-io/github-action@v6
              with:
                  start: npm run preview
                  wait-on: 'http://localhost:4173'
              env:
                  CYPRESS_baseUrl: 'http://localhost:4173/shamir-secret-sharing'

            - uses: actions/upload-artifact@v4
              with:
                  name: ui-dist
                  path: dist/

    publish_gh_pages:
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        needs: [build_and_test]
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        steps:
            - uses: actions/download-artifact@v4
              with:
                  name: ui-dist
                  path: _site

            - name: Upload gh pages artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: _site

            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
